body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    max-width: 968px;
    margin: 0 auto;
    padding: 1em;
    line-height: 1.5em;
}

textarea#question {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
}

input[type=submit] {
    padding: 0.4em 0.6em;
    cursor: pointer;
    margin-top: 4px;
}

.spinner {
    opacity: 0;
    width: 32px;
    height: 32px;
    border: 5px solid #180c8a;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
    left: 74px;
    top: -34px;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main_nav ul {
    padding-left: 0;
}

.main_nav ul li {
    display: inline;
    margin-right: 0.8em;
}

.main_nav ul li a {
    padding: 0.2em 0.3em;
    border-radius: 2px;
}

.activeRoute {
    border: 1px solid #5d5db8;
}

a {
    color: #00b;
}

.flashMessage {
    padding: 0.6em 0.8em;
    border-radius: 4px;
}

.success {
    border: 2px solid green;
}

.error {
    border: 2px solid red;
}

.warning {
    border: 2px solid orange;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
